.input {
  margin: 5px;
  padding: 10px;
  width: 50%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .search__input{
    width: 100%;
    height: 50%;
    padding: 0 12px;
    border: 1px solid #333;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: .5px;
  }

  .search__button{
    cursor: pointer;
    margin: 0 5px;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: .5px;
    color: #fff;
    background-color: gray;
  }
}